<h2 class="legend">案件編輯歷史
  <span class="description">以下列出所有案件的編輯歷史</span>
</h2>

{% if original.case_histories.count %}
  <table class="table-overview">
    <thead>
      <tr>
        <th>編輯時間</th>
        <th>編輯者</th>
        <th>案件狀態</th>
        <th>案件標題</th>
        <th>案件內容</th>
        <th>陳情人</th>
        <th>相關地點</th>
        <th>信箱</th>
        <th>電話</th>
      </tr>
    </thead>
    <tbody>
      {% for history in original.case_histories.all %}
        <tr>
          <td>{{ history.update_time }}</td>
          <td>{{ history.editor }}</td>
          <td>{{ history.status }}</td>
          <td>{{ history.title }}</td>
          <td>{{ history.content }}</td>
          <td>{{ history.username }}</td>
          <td>{{ history.location }}</td>
          <td>{{ history.email }}</td>
          <td>{{ history.mobile }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  目前尚無編輯歷史
{% endif %}
