
<h2 class="legend">案件編輯歷史
  <span class="description">以下列出所有案件的編輯歷史</span>
</h2>

{% if original.sendgrid_mails.count %}
  <table class="table-overview">
    <thead>
      <tr>
        <th>SendGrid Template Id</th>
        <th>寄信範本</th>
        <th>收件者</th>
        <th>寄發成功</th>
        <th>寄送時間</th>
        <th>動作</th>
      </tr>
    </thead>
    <tbody>
      {% for mail in original.sendgrid_mails.all %}
        <tr>
          <td>{{ mail.template.tid }}</td>
          <td>{{ mail.template }}</td>
          <td>{{ mail.to_email }}</td>
          <td>{{ mail.success }}</td>
          <td>{{ mail.send_time }}</td>
          <td>
            <a class="btn btn-info" href="{% url 'mails:resend-email' id=mail.id %}">重新寄送</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  目前尚未寄送信件
{% endif %}
