{% extends "admin/base.html" %}
{% load admin_static %}

{% block extrahead %}
<link rel="shortcut icon" href="https://froggychiu.com/img/froggyFavicon2.png" type="image/x-icon">
{% endblock %}

{% block footer_links %}
{% endblock %}

{% block header_content %}
    {{ block.super }}
{% endblock %}

{% block footer_branding %}
{% endblock %}

{% block copyright %}
Copyright &copy; 2019 Client<br>{% trans "Froggy's Service" %} <a href="http://service.froggychiu.com" target="_blank">{% trans "Froggy's Service" %}</a>
{% endblock %}
