@import "~bootstrap/scss/functions"
@import "./variables"
@import "~bootstrap/scss/bootstrap"

html,body
  margin: auto
  width: 100%

.section
  min-height: 80vh
  width: 100%
  border: solid 1px red
  overflow: hidden

/* Add the below transitions to allow a smooth color change similar to lyft */
nav
  background-color: $white
  -webkit-transition: all 0.6s ease-out
  -moz-transition: all 0.6s ease-out
  -o-transition: all 0.6s ease-out
  -ms-transition: all 0.6s ease-out
  transition: all 0.6s ease-out
  opacity: 0
  &.scrolled
    opacity: 1

hr
  background-color: black